<div class="container-cotizador">
    <div class="row">
        <ng-container *ngIf="!cotizadorWindow else cotizador">
            <div class="card card-register">
                <form class="register-form" [formGroup]="registro">
                    <!-- Nombre -->
                    <div class="input-group form-group-no-border">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                <i class="nc-icon  nc-circle-10"></i>
                            </span>
                        </div>
                        <input type="text" class="form-control" placeholder="Nombre" formControlName="nombre">
                    </div>
                    <!-- Edad -->
                    <div class="input-group form-group-no-border">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                <i class="nc-icon nc-badge"></i>
                            </span>
                        </div>
                        <input type="text" class="form-control" placeholder="Edad" formControlName="edad"
                        (keypress)="isInputNumber($event)" maxlength="2">
                    </div>
                    <!-- Estado-->
                    <div class="input-group form-group-no-border">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                <i class="nc-icon nc-map-big"></i>
                            </span>
                        </div>
                        <select name="" class="form-control" formControlName="estado">
                            <option value="">Estado</option>
                            <option value="{{item.nombre}}" *ngFor="let item of estados">{{item.nombre}}</option>
                        </select>
                    </div>
                    <!-- Sexo-->
                    <div class="input-group form-group-no-border">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                <i class="nc-icon nc-single-copy-04"></i>
                            </span>
                        </div>
                        <select name="" class="form-control" formControlName="sexo">
                            <option value="">Sexo</option>
                            <option value="M">Masculino</option>
                            <option value="F">Femenino</option>
                        </select>
                    </div>
                    <!-- MAIL-->
                    <div class="input-group form-group-no-border">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                <i class="nc-icon nc-email-85"></i>
                            </span>
                        </div>

                        <input type="text" class="form-control" placeholder="Email" formControlName="mail">
                    </div>
                    <!-- TELEFONO -->
                    <div class="input-group form-group-no-border">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                <i class="nc-icon nc-mobile"></i>
                            </span>
                        </div>
                        <input type="text" class="form-control" placeholder="Telefóno" formControlName="tellefono"
                        (keypress)="isInputNumber($event)">
                    </div>
                    <button class="btn btn-block btn-round" [disabled]="registro.invalid" (click)="sendUser()">COTIZAR GRATIS</button>
                </form>
            </div>
        </ng-container>

        <ng-template #cotizador>
            <div class="card card-cotizador">
                <form class="register-form">
                    <div class="row" style="margin-bottom: 27px;">
                        <div class="col-md-3">
                            <h6>Tus datos: </h6>
                        </div>
                        <div class="col-md-2">
                            <div class="row">
                                <div class="col-md-4 center-element">
                                    <span class="input-group-text">
                                        <i class="nc-icon nc-badge"></i>
                                    </span>
                                </div>
                                <div class="col-md-5 center-element">
                                    <h6>{{registro.value.edad}} </h6>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="row">
                                <div class="col-md-4 center-element">
                                    <span class="input-group-text">
                                        <i class="nc-icon nc-single-copy-04"></i>
                                    </span>
                                </div>
                                <div class="col-md-5 center-element">
                                    <h6>{{registro.value.nombre}}</h6>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                        <div class="row">
                            <div class="col-md-4 center-element">
                                <span class="input-group-text">
                                    <i class="nc-icon nc-map-big"></i>
                                </span>
                            </div>
                            <div class="col-md-5 center-element">
                                <h6>{{registro.value.estado}}</h6>
                            </div>
                        </div>
                        </div>
                    </div>
                    <div class="row">
                        <!-- Button -->
                        <div class="col-md-4">
                            <div class="row contaianer-button align-items-center">
                                <div class="col-md-12">
                                    <h6>Nivel de Cobertura</h6>
                                </div>
                                <div class="col-md-12">
                                    <button class="blue_btn" [ngClass]="{'control_button_pressed': nivelCobertura.basica}" (click)="cambioCobertura('basica')">BÁSICA</button>
                                </div>
                                <div class="col-md-12">
                                    <button class="blue_btn" [ngClass]="{'control_button_pressed': nivelCobertura.estandar}" (click)="cambioCobertura('estandar')">ESTÁNDAR</button>
                                </div>
                                <div class="col-md-12">
                                    <button class="blue_btn" [ngClass]="{'control_button_pressed': nivelCobertura.premium}" (click)="cambioCobertura('premium')">PREMIUM</button>
                                </div>
                                <div class="col-md-12">
                                    <button class="blue_btn" [ngClass]="{'control_button_pressed': nivelCobertura.todas}" (click)="cambioCobertura('todas')">TODAS</button>
                                </div>
                            </div>
                            <div class="row contaianer-button">
                                <div class="col-md-12">
                                    <h6>Forma de Pago</h6>
                                </div>
                                <div class="col-md-12">
                                    <button class="blue_btn" [ngClass]="{'control_button_pressed': formaPago.mensual}" (click)="cambioFormaPago('mensual')">MENSUAL</button>
                                </div>
                                <div class="col-md-12">
                                    <button class="blue_btn" [ngClass]="{'control_button_pressed': formaPago.trimestral}" (click)="cambioFormaPago('trimestral')">TRIMESTRAL</button>
                                </div>
                                <div class="col-md-12">
                                    <button class="blue_btn" [ngClass]="{'control_button_pressed': formaPago.semestral}" (click)="cambioFormaPago('semestral')">SEMESTRAL</button>
                                </div>
                                <div class="col-md-12">
                                    <button class="blue_btn" [ngClass]="{'control_button_pressed': formaPago.anual}" (click)="cambioFormaPago('anual')">ANUAL</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-8 col-sm-12">
                            <div class="container-items">
                                <div class="item">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <img class="AXA_logo"
                                                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTKc41Sr6gRiBvkXIi0PJAvtT_xljGa9WpqGg&usqp=CAU">
                                        </div>
                                        <div class="col-md-3">
                                            <h6>Precio</h6>
                                            <p>$4,739 / Anual*</p>
                                        </div>
                                        <div class="col-md-3">
                                            <h6>Suma Asegurada</h6>
                                            <p>$500,000 MXN</p>
                                        </div>
                                        <div class="col-md-3">
                                            <h6>Deducible</h6>
                                            <p>$14,000 MXN</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <h6 class="see-more" (click)="mostrarMasInformacion = !mostrarMasInformacion">{{!mostrarMasInformacion ? 'Ver más' : 'Ver menos' }}</h6>
                                        </div>
                                    </div>
                                    <ng-container *ngIf="mostrarMasInformacion">
                                        <div class="container-see-more">
                                            <div class="row">
                                                <div class="col-md-3">
                                                    Hospitales incluidos
                                                </div>
                                                <div class="col-md-6">
                                                    <ol>
                                                        <li>Hospital 1</li>
                                                        <li>Hospital 2</li>
                                                        <li>Hospital 3</li>
                                                    </ol>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-3">
                                                    Cobertura incluidas
                                                </div>
                                                <div class="col-md-6">
                                                    <ol>
                                                        <li>Gastos hospitalarios</li>
                                                        <li>Honorarios médicos</li>
                                                        <li>Analisis de laboratorio</li>
                                                    </ol>
                                                </div>
                                            </div>
                                        </div>
                                    </ng-container>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </ng-template>

    </div>
</div>