<div class="container-cotizador">
  <div class="row">
    <div class="card card-cotizador">
      <form class="register-form">
        <div class="row" style="margin-bottom: 27px">
          <div class="col-md-4">
            <div class="row">
              <div class="col-2 col-md-1 center-element">
                <span class="input-group-text">
                  <i class="nc-icon nc-single-copy-04"></i>
                </span>
              </div>
              6<div class="col-10  col-md-9 center-element col-data" style="justify-content: flex-start">
                <h2 class="weight-bold">Nombre: <span class="dato">{{ user.full_name }}</span></h2>
              </div>
            </div>
          </div>
          <div class="col-md-5">
            <div class="row">
              <div class="col-2 col-md-1 center-element">
                <span class="input-group-text">
                  <i class="nc-icon nc-map-big"></i>
                </span>
              </div>
              <div class="col-10 col-md-8 center-element col-data" style="justify-content: flex-start">
                <h2 class="weight-bold">Estado: <span class="dato">{{ user.state }}</span></h2>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="row">
              <div class="col-2 col-md-1 center-element">
                <span class="input-group-text">
                  <i class="nc-icon nc-badge"></i>
                </span>
              </div>
              <div class="col-10 col-md-5 center-element col-data" style="justify-content: flex-start">
                <h2 class="weight-bold">Edad: <span class="dato">{{ user.age }}</span></h2>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <!-- Button -->
          <div class="col-md-4">
            <div class="row contaianer-button align-items-center">
              <div class="col-md-12">
                <h4 style="text-align: center">Nivel de Cobertura</h4>
              </div>
              <div class="col-md-12">
                <button class="blue_btn" [ngClass]="{
                      control_button_pressed: nivelCobertura.basico
                    }" (click)="cambioCobertura('basico')">
                  BÁSICA
                </button>
              </div>
              <div class="col-md-12">
                <button class="blue_btn" [ngClass]="{
                      control_button_pressed: nivelCobertura.estandar
                    }" (click)="cambioCobertura('estandar')">
                  ESTÁNDAR
                </button>
              </div>
              <div class="col-md-12">
                <button class="blue_btn" [ngClass]="{
                      control_button_pressed: nivelCobertura.premium
                    }" (click)="cambioCobertura('premium')">
                  PREMIUM
                </button>
              </div>
              <div class="col-md-12">
                <button class="blue_btn" [ngClass]="{ control_button_pressed: nivelCobertura.todas }"
                  (click)="cambioCobertura('todas')">
                  TODAS
                </button>
              </div>
            </div>
            <!-- <div class="row contaianer-button">
                                <div class="col-md-12">
                                    <h6>Forma de Pago</h6>
                                </div>
                                <div class="col-md-12">
                                    <button class="blue_btn" [ngClass]="{'control_button_pressed': formaPago.mensual}" (click)="cambioFormaPago('mensual')">MENSUAL</button>
                                </div>
                                <div class="col-md-12">
                                    <button class="blue_btn" [ngClass]="{'control_button_pressed': formaPago.trimestral}" (click)="cambioFormaPago('trimestral')">TRIMESTRAL</button>
                                </div>
                                <div class="col-md-12">
                                    <button class="blue_btn" [ngClass]="{'control_button_pressed': formaPago.semestral}" (click)="cambioFormaPago('semestral')">SEMESTRAL</button>
                                </div>
                                <div class="col-md-12">
                                    <button class="blue_btn" [ngClass]="{'control_button_pressed': formaPago.anual}" (click)="cambioFormaPago('anual')">ANUAL</button>
                                </div>
                            </div> -->
          </div>
          <div class="col-md-8 col-sm-12">
            <div class="container-items">
              <ng-container *ngIf="itemFiltrado.length > 0">
                <div class="item" *ngFor="let item of itemFiltrado">
                  <div class="col-md-12 ">
                    <div class="row">
                      <div class="col-md-3">
                        <h5 class="weight-bold">Precio</h5>
                        <p>${{ item.price }} MXN</p>
                      </div>
                      <div class="col-md-3">
                        <h5 class="weight-bold">Deducible</h5>
                        <p>${{ item.deductible }} MXN</p>
                      </div>
                      <div class="col-md-3">
                        <h5 class="weight-bold">Membresía</h5>
                        <p>{{ item.membership }}</p>
                      </div>
                      <div class="col-md-3">
                        <img class="logo_empresa" *ngIf="item.company === 'AXA'" src="assets/img/logo_axa.jpg" />
                        <img class="logo_empresa" *ngIf="item.company === 'MAPFRE'" src="assets/img/logo_mapre.jpg" />
                        <img class="logo_empresa" *ngIf="item.company === 'GNP'" src="assets/img/logo-gnp.jpg" />
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12">
                        <!-- <h5 class="see-more" (click)="mostrarMasInformacion = !mostrarMasInformacion">{{!mostrarMasInformacion ? 'Ver más' : 'Ver menos' }}</h5> -->
                      </div>
                    </div>
                    <ng-container>
                      <div class="container-see-more">
                        <div class="row">
                          <div class="col-md-3 colCenter">
                            <h5 class="weight-bold">Hospitales incluidos</h5>
                          </div>
                          <div class="col-md-6">
                            <ol>
                              <li *ngFor="let hospital of item.hospitals">
                                {{ hospital }}
                              </li>
                            </ol>
                          </div>
                        </div>
                        <!-- <div class="row">
                                                        <div class="col-md-3">
                                                            Cobertura incluidas
                                                        </div>
                                                        <div class="col-md-6">
                                                            <ol>
                                                                <li>Gastos hospitalarios</li>
                                                                <li>Honorarios médicos</li>
                                                                <li>Analisis de laboratorio</li>
                                                            </ol>
                                                        </div>
                                                    </div> -->
                      </div>
                    </ng-container>
                  </div>
                </div>
              </ng-container>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>