<div class="wrapper">
    <div class="page-header section-dark" style="background-image: url('assets/img/comparagastosmedicos.png');
    background-position: center; background-repeat: no-repeat;background-size: cover;background-attachment:fixed;">
        <div class="content-center cotainer-register-form">
            <div class="container">
                <form class="register-form" [formGroup]="registro">
                    <div class="row row-container">
                        <div class="col-lg-12 container-form">
                            <div class="row">
                                <div class="col-lg-12">
                                    <!-- Nombre -->
                                    <mat-form-field class="example-full-width" appearance="fill">
                                        <mat-label>Nombre</mat-label>
                                        <input matInput formControlName="full_name"
                                            [ngClass]="{ error: registro.controls.full_name.invalid }">
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <!-- Edad -->
                                    <mat-form-field class="example-full-width" appearance="fill">
                                        <mat-label>Edad</mat-label>
                                        <input matInput type="number" placeholder="Edad máxima 65 años"
                                            formControlName="age" [ngClass]="{ error: registro.controls.age.invalid }"
                                            (keypress)="isInputNumber($event)" min="0" max="65">
                                    </mat-form-field>
                                    <!-- <div [ngClass]="{'error': registro.controls.age.invalid }">
                                          <p >Edad máxima 65 años</p>
                                      </div> -->
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <!-- Estado-->
                                    <mat-form-field appearance="fill">
                                        <mat-label>Estado</mat-label>
                                        <mat-select formControlName="state"
                                            [ngClass]="{ error: registro.controls.state.invalid }">
                                            <mat-option value="{{ item.nombre }}" *ngFor="let item of estados">
                                                {{ item.nombre }}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <!-- Sexo-->
                                    <mat-form-field appearance="fill">
                                        <mat-label>Sexo</mat-label>
                                        <mat-select formControlName="gender"
                                            [ngClass]="{ error: registro.controls.gender.invalid }">
                                            <mat-option value="H">Masculino</mat-option>
                                            <mat-option value="M">Femenino</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <!-- MAIL-->
                                    <mat-form-field class="example-full-width" appearance="fill">
                                        <mat-label>Email</mat-label>
                                        <input type="email" matInput
                                            [ngClass]="{ error: registro.controls.email.invalid }"
                                            formControlName="email" placeholder="Ex. pat@example.com">
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <!-- TELEFONO -->
                                    <mat-form-field class="example-full-width" appearance="fill">
                                        <mat-label>Telefóno</mat-label>
                                        <input matInput placeholder="" formControlName="phone"
                                            (keypress)="isInputNumber($event)"
                                            [ngClass]="{ error: registro.controls.phone.invalid }">
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="contaier-button">
                                        <button class="btn btn-round btn-cotizar" [disabled]="registro.invalid"
                                            (click)="sendUser()">
                                            COTIZAR GRATIS
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <div class="row">
                    <div class="col-lg-12 d-flex align-items-center justify-content-center">
                        <h1 style="text-align: center;
                        line-height: 1.3;
                        font-size: 34px;
                        letter-spacing: 1px;
                        color: #000000;">Cotiza entre las mejores aseguradoras</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6 col-lg-3 d-flex align-items-center justify-content-center">
                        <img class="logo_empresa-components"
                            src="https://comparador.kayum.mx/salud/includes/images/aseguradoras/GNP.svg" />
                    </div>
                    <div class="col-6 col-lg-3 d-flex align-items-center justify-content-center">
                        <img class="logo_empresa-components"
                            src="https://comparador.kayum.mx/salud/includes/images/aseguradoras/BXMAS.svg" />
                    </div>
                    <div class="col-6 col-lg-3 d-flex align-items-center justify-content-center">
                        <img class="logo_empresa-components"
                            src="https://comparador.kayum.mx/salud/includes/images/aseguradoras/MAPFRE.svg" />
                    </div>
                    <div class="col-6 col-lg-3 d-flex align-items-center justify-content-center">
                        <img class="logo_empresa-components"
                            src="https://comparador.kayum.mx/salud/includes/images/aseguradoras/AXA.svg" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="main">
        <!-- ======================== Coberturas ========================== -->
        <section id="coberturas">
            <div class="section">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 col-choose-plan">
                            <h2>ELIGE TU PLAN DE GASTOS MÉDICOS: BÁSICO, ESTÁNDAR O PREMIUM, COMPARA Y CONTRATA</h2>
                            <h3>
                                Paga desde 3,6 y hasta 12 meses sin intereses.
                            </h3>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Imagenes -->
        <section class="panel-grid">
            <div class="nopadding row">
                <div class="col-md-4" style="background:#141414;">
                    <div class="team-boxes">
                        <div class="team-thumb overlay-image view-overlay">
                            <img src="assets/img/comparagastosmedicos.png" alt="" class="img-responsive">
                            <div class="clear">
                            </div>
                            <div class="mask team_quote">
                                <div class="port-zoom-link">
                                    <p>
                                        Si buscas proteger a tu familia ante una enfermedad o accidente, tenemos los
                                        mejores planes a costos accesibles. Comienza ya a proteger a tus seres queridos
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="team-info">
                            <h2>BÁSICO</h2>
                        </div>
                    </div>
                </div>
                <!-- #person2 -->
                <div class="col-md-4" style="background:#749cd2;">
                    <div class="team-boxes">
                        <div class="team-thumb overlay-image view-overlay">
                            <img src="assets/img/comparagastosmedicos11.png" alt="" class="img-responsive">
                            <div class="clear">
                            </div>
                            <div class="mask team_quote">
                                <div class="port-zoom-link">
                                    <p>
                                        El seguro de gastos médicos con acceso a Hospitales de gama media y con
                                        beneficios que te daran la tranquilidad que tu y tu familia estan protegidos
                                        contra una enfermedad o accidente.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="team-info">
                            <h2>ESTÁNDAR</h2>
                        </div>
                    </div>
                </div>
                <!-- #person3 -->
                <div class="col-md-4" style="background:#141414;">
                    <div class="team-boxes">
                        <div class="team-thumb overlay-image view-overlay">
                            <img src="assets/img/comparagastosmedicos9.png" alt="" class="img-responsive">
                            <div class="clear">
                            </div>
                            <div class="mask team_quote">
                                <div class="port-zoom-link">
                                    <p>
                                        Si buscas la mejor atención médica para ti y tu familia. Tenemos el plan que
                                        necesitas. Acceso a los mejores hospitales privados de México y los mejores
                                        médicos del país.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="team-info">
                            <h2>PREMIUN</h2>

                        </div>

                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </section>










        <!--================================================ Planes================================================== -->
        <section id="planes" class="services margintop60">
            <div class="container">
                <div class="sow-headline">
                    <h1><b>¿Que debo saber para contratar un Seguro de Gastos Médicos?</b></h1>
                    <div class="decoration">
                        <div class="decoration-inside">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <h3 class="tim-title">Plan</h3>
                        Debes saber a que nivel de Hospital puedes acceder, por lo general existen tres niveles de
                        Hospitales, pregunta a cuales tienes acceso para evitar pago de diferencia.

                        <h3>Tabulador</h3>
                        Son los honorarios médicos que le pagan a los doctores por consultas, tratamientos o cirugías.
                        Saber que tabulador estas contratando te evitará llevarte sorpresas de pago de diferencias en
                        honorarios al momento de usar tu póliza.

                        <h3>Deducible</h3>
                        El deducible es el primer gastos que debe curbir el asegurado para que su póliza empiece a
                        funcionar. Puedes bajar el costo de tu póliza si contratas un deducible alto. ¿Como tomar la
                        decision de tu deducible? Revisa el limite de tu credito o bien los ahorros que tengas para pago
                        de contingencias.
                    </div>
                    <div class="col-md-6">
                        <h3 class="tim-title">Coaseguro</h3>
                        Es el porcentaje de participación que tendra el asegurado despues del deducible, este por lo
                        general es del 10%.

                        <h3>Periodos de Espera</h3>
                        Todas las pólizas tienen periodos de espera en ciertos padecimientos, es, decir, se cubriran
                        despues de que pase un tiempo. Siempre debes tenerlos presentes.

                        <h3>Exclusiones</h3>
                        Son muy parecidas en todas las pólizas, la mas comun es, padecimientos preexistentes que no se
                        cubren.
                    </div>
                </div>
            </div>
        </section>
        <!--=========================================Testimonios=========================================================-->
        <div id="precios" class="section javascript-components"
            style="background-image: url('assets/img/comparagastosmedicos8.png');background-size:cover;background-attachment:fixed;">
            <div class="container">
                <div class="sow-testimonials">
                    <div class="flexslider testimonials-wrapper text-center graytext">
                        <ul class="slides">
                            <li>
                                <div class="sow-round-image-frame"
                                    style="background-image: url(https://unsplash.it/120/120?random=6); width:120px; height:120px">
                                </div>
                                <p>
                                    Son lo máximo
                                </p>
                                <strong class="signature">- Maria Diaz, <a>Clienta desde 2010</a></strong>
                            </li>
                            <li>
                                <div class="sow-round-image-frame"
                                    style="background-image: url(https://unsplash.it/120/120?random=7); width:120px; height:120px">
                                </div>
                                <p>
                                    Excelente servicio
                                </p>
                                <strong class="signature">- William Diaz, <a></a></strong>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="so-widget-sow-headline">
                    <div class="sow-headline">
                        <h1 class="graytext">Sé parte de nuestra comunidad de felices asegurados</h1>
                    </div>
                </div>
                <br />
                <div class="w960 text-center">
                    <!-- <h3>
                        ¡Llámanos ya! 000-000-0000
                    </h3> -->

                </div>
            </div>
        </div>
        <!--=========================================Logo=========================================================-->
        <section class="margintop60 nopadding">
            <div class="container text-center"><img src="assets/img/Logo_comparagastosmedicos.png" style="width: 40%;"
                    alt="Cotiza, compara y contrata" class="img-responsive"></div>
        </section>
    </div>