<div class="wrapper">
    <div class="page-header section-dark" style="background-image: url('assets/img/comparagastosmedicos.png');
    background-position: center; background-repeat: no-repeat;background-size: cover;background-attachment:fixed;">
        <div class="content-center cotainer-register-form">
            <div class="container">
                <form class="register-form" [formGroup]="registro">
                    <div class="row">
                        <div class="col-lg-6">
                            <!-- Nombre -->
                            <div>
                                <input type="text" class="form-control" placeholder="Nombre" formControlName="full_name"
                                    [ngClass]="{ error: registro.controls.full_name.invalid }" />
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <!-- Edad -->
                            <div>
                                <input type="number" class="form-control" placeholder="Edad" formControlName="age"
                                    [ngClass]="{ error: registro.controls.age.invalid }"
                                    (keypress)="isInputNumber($event)" min="0" max="65" />
                                <!-- <div [ngClass]="{'error': registro.controls.age.invalid }">
                                      <p >Edad máxima 65 años</p>
                                  </div> -->
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <!-- Estado-->
                            <div>
                                <select name="" class="form-control" formControlName="state"
                                    [ngClass]="{ error: registro.controls.state.invalid }">
                                    <option value="">Estado</option>
                                    <option value="{{ item.nombre }}" *ngFor="let item of estados">
                                        {{ item.nombre }}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <!-- Sexo-->
                            <div>
                                <select name="" class="form-control" formControlName="gender"
                                    [ngClass]="{ error: registro.controls.gender.invalid }">
                                    <option value="">Sexo</option>
                                    <option value="H">Masculino</option>
                                    <option value="M">Femenino</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <!-- MAIL-->
                            <div>
                                <input type="text" [ngClass]="{ error: registro.controls.email.invalid }"
                                    class="form-control" placeholder="Email" formControlName="email" />
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <!-- TELEFONO -->
                            <div>
                                <input type="text" [ngClass]="{ error: registro.controls.phone.invalid }"
                                    class="form-control" placeholder="Telefóno" formControlName="phone"
                                    (keypress)="isInputNumber($event)" />
                            </div>
                        </div>
                    </div>
                    <div class="contaier-button">
                        <button class="btn btn-round btn-cotizar" [disabled]="registro.invalid" (click)="sendUser()">
                            COTIZAR GRATIS
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="main">
        <!-- ======================== Coberturas ========================== -->
        <section id="coberturas">
            <div class="section">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 col-choose-plan">
                            <h2>ELIGE TU PLAN DE GASTOS MÉDICOS: BÁSICO, ESTÁNDAR O PREMIUM, COMPARA Y CONTRATA</h2>
                            <h3>
                                Paga desde 3,6 y hasta 12 meses sin intereses.
                            </h3>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Imagenes -->
        <section class="panel-grid">
            <div class="row container-boxes" style=" margin-right: 0; margin-left: 0;">
                <div class="col-md-4" style="background:#141414;">
                    <div class="team-boxes">
                        <div class="team-thumb overlay-image view-overlay">
                            <img src="assets/img/comparagastosmedicos.png" alt="" class="img-responsive">
                            <div class="clear">
                            </div>
                            <div class="mask team_quote">
                                <div class="port-zoom-link">
                                    <p>
                                        Descripción de la cobertura
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="team-info">
                            <h2>BÁSICO</h2>
                            <p>
                                Subtitulo
                            </p>
                        </div>
                    </div>
                </div>
                <!-- #person2 -->
                <div class="col-md-4" style="background:#749cd2;">
                    <div class="team-boxes">
                        <div class="team-thumb overlay-image view-overlay">
                            <img src="assets/img/comparagastosmedicos11.png" alt="" class="img-responsive">
                            <div class="clear">
                            </div>
                            <div class="mask team_quote">
                                <div class="port-zoom-link">
                                    <p>
                                        Descripción de la cobertura
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="team-info">
                            <h2>ESTÁNDAR</h2>
                            <p>
                                Subtitulo
                            </p>
                        </div>
                    </div>
                </div>
                <!-- #person3 -->
                <div class="col-md-4" style="background:#141414;">
                    <div class="team-boxes">
                        <div class="team-thumb overlay-image view-overlay">
                            <img src="assets/img/comparagastosmedicos9.png" alt="" class="img-responsive">
                            <div class="clear">
                            </div>
                            <div class="mask team_quote">
                                <div class="port-zoom-link">
                                    <p>
                                        Subtitulo
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="team-info">
                            <h2>PREMIUN</h2>
                            <p>
                                Subtitulo
                            </p>
                        </div>

                    </div>
                </div>
            </div>
        </section>

        <!--================================================ Planes================================================== -->
        <section id="planes" class="services margintop60">
            <div class="container">
                <div class="sow-headline">
                    <h1><b>NUESTROS PLANES</b></h1>
                    <div class="decoration">
                        <div class="decoration-inside">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <h3 class="tim-title">01.Básico</h3>
                        Collaboratively administrate empowered markets via plug-and-play networks. Dynamically
                        procrastinate
                        B2C users after installed base benefits. Dramatically visualize customer directed convergence
                        without revolutionary ROI.
                        <h3>02.Estándar</h3>
                        Completely synergize resource taxing relationships via premier niche markets. Professionally
                        cultivate one-to-one customer service with robust ideas. Dynamically innovate resource-leveling
                        customer service for state of the art customer service.
                    </div>
                    <div class="col-md-6">
                        <h3 class="tim-title">03.Premium</h3>
                        Collaboratively administrate empowered markets via plug-and-play networks. Dynamically
                        procrastinate
                        B2C users after installed base benefits. Dramatically visualize customer directed convergence
                        without revolutionary ROI.

                    </div>
                </div>
            </div>
        </section>
        <!--=========================================Testimonios=========================================================-->
        <div id="precios" class="section javascript-components"
            style="background-image: url('assets/img/comparagastosmedicos8.png');background-size:cover;background-attachment:fixed;">
            <div class="container">
                <div class="sow-testimonials">
                    <div class="flexslider testimonials-wrapper text-center graytext">
                        <ul class="slides">
                            <li>
                                <div class="sow-round-image-frame"
                                    style="background-image: url(https://unsplash.it/120/120?random=6); width:120px; height:120px">
                                </div>
                                <p>
                                    Son lo máximo
                                </p>
                                <strong class="signature">- Maria Diaz, <a>Clienta desde 2010</a></strong>
                            </li>
                            <li>
                                <div class="sow-round-image-frame"
                                    style="background-image: url(https://unsplash.it/120/120?random=7); width:120px; height:120px">
                                </div>
                                <p>
                                    Excelente servicio
                                </p>
                                <strong class="signature">- William Diaz, <a></a></strong>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="so-widget-sow-headline">
                    <div class="sow-headline">
                        <h1 class="graytext">Sé parte de nuestra comunidad de felices asegurados</h1>
                    </div>
                </div>
                <br />
                <div class="w960 text-center">
                    <h3>
                        ¡Llámanos ya! 000-000-0000
                    </h3>

                </div>
            </div>
        </div>
        <!--=========================================Logo=========================================================-->
        <section class="margintop60 nopadding">
            <div class="container text-center"><img src="assets/img/Logo_comparagastosmedicos.png" style="width: 40%;"
                    alt="Cotiza, compara y contrata" class="img-responsive"></div>
        </section>
    </div>