<footer class="footer" *ngIf="!isCotizador()">
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <small>
                    Santa Fe 27, Lomas de Capistrano, Atizapan de zaragoza, Edo. Mexico, CP. 52987 <br>
                    Tel: 5516483883
                </small>
            </div>
            <div class="col-md-3">
                <!-- <div class="footer-menu">
                    <ul id="menu-footer-links" class="menu">
                        <li><a href="#"><i class="fa fa-facebook"></i> Facebook</a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i> Twitter</a></li>
                    </ul>
                </div> -->
            </div>
        </div>
    </div>
</footer>
